<div class="account-settings-container">
	<div class="entity-header">
		{{#unless miscSettings.embeddedListView}}
			<div class="entity-title">{{ i18n.callflows.featureCodes.title }}</div>
			<button type="button" class="back-button monster-button-secondary">{{ i18n.entityManager.backButton_1 }}</button>
		{{/unless}}
		{{#if miscSettings.embeddedListView}}
			<div class="entity-title">{{ i18n.callflows.featureCodes.title }}</div>
			<div class="embedded-buttons">
				<button type="button" class="monster-button monster-button-secondary non-fixed back-button">{{ i18n.entityManager.backButton_2 }}</button>
			</div>
		{{/if}}
		{{#if miscSettings.callflowButtonsWithinHeader}}
			<div class="buttons">	
				<button type="button" class="monster-button monster-button-success non-fixed featurecode-save">{{i18n.save}}</button>
			</div>
		{{/if}}
	</div>

	<div class="entity-content">
		<div id="featurecode_view" class="form-horizontal">
			<div class="tab-bar">
				<ul class="nav nav-tabs featurecode-tabs">
					{{#each categories}}
						<li class="{{#if @first}}active{{/if}}">
							<a href="#featurecode_tab_{{@index}}" data-toggle="tab">{{category}}</a>
						</li>
					{{/each}}
				</ul>
			</div>
			<div class="tab-content">
				{{#each categories}}
					<div class="tab-pane feature-category {{#if @first}}active{{/if}}" id="featurecode_tab_{{@index}}">
						{{#each items}}
							<div class="control-group action_wrapper" data-id="{{id}}" data-action="{{tag}}" data-number="{{number}}" data-type="{{number_type}}" data-enabled="{{enabled}}">
								<label class="control-label" for="{{name}}">{{name}}</label>
								<div class="controls">
									<div class="input-append">
										{{#if miscSettings.readOnlyFeatureCodeNumber}}
											<input disabled class="featurecode-number input-mini input-disabled" id="{{id}}" name="{{name}}" size="16" type="text" value="{{#if hasStar}}*{{/if}}{{number}}">
										{{else}}
											{{#if hasStar}}
												<span class="add-on" data-toggle="tooltip" data-original-title="{{ @root.i18n.callflows.featureCodes.star_data_content }}">*</span>
											{{else}}
												<span class="add-on empty"></span>
											{{/if}}
											<input class="featurecode-number input-mini" id="{{id}}" name="{{name}}" size="16" type="text" value="{{number}}">
										{{/if}}
										<label class="add-on">
											<input type="checkbox" class="featurecode_enabled"{{#if enabled}} checked="checked"{{/if}}>
										</label>
									</div>
									{{#if hasConfig}}
										<a class="edit-configuration-link monster-link"><i class="fa fa-cog"></i></a>
									{{/if}}
								</div>
							</div>
						{{/each}}
					</div>
				{{/each}}
			</div>
			<div class="action-bar clearfix">
				{{#unless miscSettings.callflowButtonsWithinHeader}}
					<button type="button" class="monster-button-success featurecode-save pull-right">{{ i18n.save }}</button>
				{{/unless}}
			</div>
		</div>
	</div>
</div>
