<div class="dialog_popup callflows-port">
	<h1>{{ i18n.callflows.qubicleCallflow.connect_caller_to_qubicle_queue }}</h1>
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label-wide for="object-selector">{{ i18n.callflows.qubicleCallflow.which_qubicle_queue }}</label-wide>
				<div class="select_wrapper">
					<select id="object-selector">
						{{#select objects.selected}}
							{{#each objects.items}}
									<option value="{{ id }}">{{ name }}</option>
							{{/each}}
						{{/select}}
					</select>
					<div class="clear"/>
				</div>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>