<div class="dialog_popup callflows-port callflow-action-form">
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="sleep_duration_input">{{ i18n.callflows.sleep.duration.label }}</label>
				<input type="text" id="sleep_duration_input" value="{{ data_sleep.duration }}" 
					pattern="[0-9]*" inputmode="numeric"
					onkeypress="return event.charCode >= 48 && event.charCode <= 57"
				/>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>
