<div id="webhook_popup" class="dialog_popup callflows-port callflow-action-form">
	<div class="callflow-action-info-text">
		{{ i18n.callflows.webhook.help }}
	</div>
	<form id="webhook_form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="uri">
					<!--<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.callflows.webhook.uri.help }}"></i>-->
					{{ i18n.callflows.webhook.uri.label }}
				</label>
				<input type="text" id="uri" name="uri" value="{{uri}}"/>
			</div>
			<div class="popup_field">
				<label for="http_verb">
					<!--<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.callflows.webhook.httpVerb.help }}"></i>-->
					{{ i18n.callflows.webhook.httpVerb.label }}
				</label>
				<select id="http_verb" name="http_verb">
					{{#select http_verb}}
						{{#each httpVerbsList}}
							<option value="{{ @key }}">{{ this }}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
			<div class="popup_field" id="form_popup_field"{{#unless hasVerbWithFormat}} style="display: none;"{{/unless}}>
				<label for="format">
					<!--<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.callflows.webhook.format.help }}"></i>-->
					{{ i18n.callflows.webhook.format.label }}
				</label>
				<select id="format" name="format">
					{{#select format}}
						{{#each bodyFormatList}}
							<option value="{{value}}">{{label}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
			
			<div class="popup_field">
				<label for="retries">{{ i18n.callflows.webhook.retries.label }}</label>
				<input type="number" min="1" step="1" max="4" id="retries" class="medium" value="{{retries}}"/>
			</div>	
		</div>

		<div>
			<div class="custom-data">
				<label for="custom_data">
					<!--<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.callflows.webhook.customData.help }}"></i>-->
					{{ i18n.callflows.webhook.customData.label }}
				</label>
				<div class="custom-data-container"></div>
			</div>

		</div>

	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{i18n.save}}</button>
	</div>
</div>
