.callflows-port #user-form input[disabled=disabled] {
	background: #ccc;
}

.callflows-port #user-form #equipment {
	text-align: center;
	font-size: 12px;
	font-family: 'Helvetica';
}

.callflows-port #user-form #equipment .help_box {
	color: #333333;
	line-height: 12px;
}

.callflows-port #user-form #equipment .add_device {
	margin-top: 15px;
	display: inline-block;
}

.callflows-port #user-form #equipment .add_device:hover a {
	color: #333333;
}

.callflows-port #user-form #equipment .add_device:hover .add_device_icon {
	background-position: 0 -24px;
	cursor: pointer;
}

.callflows-port #user-form #equipment #tab_devices  {
	border: 2px solid #666666;
	border-radius: 15px 15px 15px 15px;
	color: #666666;
	/*margin: 20px auto auto; */
	margin: 20px 60px; /* left align table */
	max-width: 920px;
}

.callflows-port #user-form #equipment #tab_devices .action_device {
	color: #666666;
	cursor: pointer;
	text-decoration: underline;
	line-height: 30px;
}

.callflows-port #user-form #equipment #tab_devices .action_device:not(:first-child) {
	margin-left: 10px;
}
.callflows-port #user-form #equipment #tab_devices .action_device:hover {
	color: #05addc;
}

.callflows-port #user-form #equipment #tab_devices .column:not(.fourth):not(.fifth) {
	border-right: 1px solid #A6A6A6;
}

.callflows-port #user-form #equipment #tab_devices .column:is(.fifth) {
	border-left: 1px solid #A6A6A6;
}

.callflows-port #user-form #equipment #tab_devices .column {
	float: left;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.callflows-port #user-form #equipment #tab_devices .column.first {
	width: 25% !important;
    overflow: hidden;
	text-align: left;
	text-indent: 25px;
}

.callflows-port #user-form #equipment #tab_devices.hide-actions .column.first {
	width: 32% !important;
}

.callflows-port #user-form #equipment #tab_devices .column.second {
	width: 20% !important;
}

.callflows-port #user-form #equipment #tab_devices.hide-actions .column.second {
	width: 26% !important;
}

.callflows-port #user-form #equipment #tab_devices .column.third {
	width: 20% !important;
}

.callflows-port #user-form #equipment #tab_devices.hide-actions .column.third {
	width: 26% !important;
}

.callflows-port #user-form #equipment #tab_devices .column.fourth {
	width: 15% !important;
}

.callflows-port #user-form #equipment #tab_devices .column.fifth {
	width: 18% !important;
}

.callflows-port #user-form #equipment #tab_devices .column.merged {
	width: 920px;
	border-right: none !important;
}

.callflows-port #user-form #equipment #tab_devices .row {
	height: 30px;
	margin-left: 0px;
}

.callflows-port #user-form #equipment #tab_devices .row.title {
	background-color: #dddddd !important;
	border-bottom: 2px solid #666666 !important;
	border-radius: 15px 15px 0px 0px;
	font-weight: bold;
}

.callflows-port #user-form #equipment #tab_devices .column.first.title{
	text-align: center;
	text-indent: 0px;
}

.callflows-port #user-form #equipment #tab_devices .row.title .icon.medium {
	display: none
}

.callflows-port #user-form #equipment #tab_devices .row:not(:last-child) {
	border-bottom: 1px solid #A6A6A6;
}

.callflows-port #user-form #equipment #tab_devices .row:last-child {
	border-radius: 0px 0px 15px 15px;
}

.callflows-port #user-form #equipment #tab_devices .row:nth-child(odd) {
	background-color: #eeeeee;
}

.callflows-port #user-form #equipment #tab_devices .row:nth-child(even) {
	background-color: #dddddd;
}

.callflows-port #user-form #username_label {
	color: #05addc;
	text-align: left;
	font-weight: bold;
}

.callflows-port #user-form .shoutcast-div {
	display: none;
}

.callflows-port #user-form .shoutcast-div.active {
	display: block;
}

/* Hotdesk devices */
/*
.callflows-port #user-form #hotdesk_devices {
	width: 320px;
}

.callflows-port #user-form #hotdesk_devices .row .column:nth-child(1) {
	width: 300px;
}

.callflows-port #user-form #hotdesk_devices .row .column:nth-child(2) {
	width: 80px;
}

.callflows-port #user-form #hotdesk_devices .row .column.merged {
	width: 320px;
}

.callflows-port #user-form #hotdesk_devices .row input[type="checkbox"] {
	margin-top: 10px;
}
*/

/* phone numbers tab formatting */
.callflows-port #user-form #phone_numbers #phone_numbers_container .numberRows .row {
	margin-left: 0px;
}

/* phone numbers tab formatting */
.callflows-port #user-form #phone_numbers .item-row .number-container {
    min-width: 237px;
	display: flex;
}

/* phone numbers tab formatting */
.callflows-port #user-form #phone_numbers .item-row .number-container .number .phone-number-label {
    text-align: left;
}

/* phone numbers tab formatting */
.callflows-port #user-form #phone_numbers .item-row>* {
    display: inline-block;
    padding: 10px;
    height: 32px;
    line-height: 32px;
}

/* phone numbers tab formatting */
.callflows-port #user-form #phone_numbers .item-row button {
    margin-right: 25px;
	text-align: center;
	line-height: 10px;
}

/* phone numbers tab formatting */
.callflows-port #user-form #phone_numbers .number-addition {
	padding-top: 20px;
	display: flex;
    justify-content: flex-end;
}

/* device registration state */
.device-registered {
	color: green;
}

/* device registration state */
.device-offline {
	color: red;
}

/* device registration state */
.device-disabled {
	color: #666666;
}

/* device registration state */
.device-enabled {
	color: #666666;
}

/* formatting for devices table */
.callflows-port #tab_devices .column.fourth input[type="checkbox"] {
	margin: 0px !important;
	margin-bottom: 2px !important;
}

/* formatting for devices table */
.callflows-port #tab_devices .column.fifth .edit,
.callflows-port #tab_devices .column.fifth .delete {
    padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-bottom: 8px !important;
}

/* find me follow me table formatting */
.callflows-port #user-form #tab_find_me_follow_me {
    border: 2px solid #666666;
    border-radius: 15px;
    color: #666666;
	/*margin: 20px auto auto; */
    margin: 20px 60px; /* left align table */
    max-width: 920px;
	
}

.callflows-port #user-form #tab_find_me_follow_me .action_device {
    color: #666666;
    cursor: pointer;
    text-decoration: underline;
    line-height: 30px;
}

.callflows-port #user-form #tab_find_me_follow_me .action_device:not(:first-child) {
    margin-left: 10px;
}

.callflows-port #user-form #tab_find_me_follow_me .action_device:hover {
    color: #05addc;
}

.callflows-port #user-form #tab_find_me_follow_me .column:not(.fifth) {
    border-right: 1px solid #A6A6A6;
}

.callflows-port #user-form #tab_find_me_follow_me .column {
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.callflows-port #user-form #tab_find_me_follow_me .column.first {
    width: 25% !important;
    overflow: hidden;
	text-align: left;
	text-indent: 25px;	
}

.callflows-port #user-form #tab_find_me_follow_me .column.second {
    width: 7% !important;
}

.callflows-port #user-form #tab_find_me_follow_me .column.third {
    width: 50% !important;
}

.callflows-port #user-form #tab_find_me_follow_me .column.fourth {
    width: 7% !important;
}

.callflows-port #user-form #tab_find_me_follow_me .column.fifth {
    width: 10% !important;
}

.callflows-port #user-form  #tab_find_me_follow_me .row.title {
	background-color: #dddddd !important;
	border-bottom: 2px solid #666666 !important;
	border-radius: 15px 15px 0px 0px;
	font-weight: bold;
}

.callflows-port #user-form #tab_find_me_follow_me .column.first.title{
	text-align: center;
	text-indent: 0px;
}

.callflows-port #user-form  #tab_find_me_follow_me .row:not(:last-child) {
	border-bottom: 1px solid #A6A6A6;
}

.callflows-port #user-form  #tab_find_me_follow_me .row:last-child {
	border-radius: 0px 0px 15px 15px;
}

.callflows-port #user-form  #tab_find_me_follow_me .row:nth-child(odd) {
	background-color: #eeeeee;
}

.callflows-port #user-form  #tab_find_me_follow_me .row:nth-child(even) {
	background-color: #dddddd;
}

/* find me follow me slider formatting */
.callflows-port #user-form  #tab_find_me_follow_me .slider-container .ui-widget-content {
	width: 92%;
	margin: auto;
	margin-top: 8px;
}

.callflows-port #user-form  #tab_find_me_follow_me .slider-container .ui-widget-content .ui-state-hover,
.callflows-port #user-form  #tab_find_me_follow_me .slider-container .ui-widget-content .ui-state-focus {
    border: 1px solid #ccc;
    background: #2297FF url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
}

/* format slider for dimensions */
.callflows-port #user-form  #tab_find_me_follow_me .slider-container .ui-widget-content {
    /*border: 1px solid #ddd;
	background: #eee;*/
	height: 5px;
	margin-top: 12px;
}

.callflows-port #user-form  #tab_find_me_follow_me .slider-container .ui-widget-content .ui-slider-handle {
	border-radius: 10px;
	margin-top: -3px;
}

.callflows-port #user-form .information-text { 
	font-size: 13px;
}

.callflows-port #user-form .presence-profile-warning {
	margin-left: 40px;
	margin-bottom: 10px;
}

/* Hotdesk devices table */
.callflows-port #user-form #hotdesk_devices {
    text-align: center;
    font-size: 12px;
    font-family: 'Helvetica';
}

.callflows-port #user-form #hotdesk_devices  {
	border: 2px solid #666666;
	border-radius: 15px 15px 15px 15px;
	color: #666666;
	/*margin: 20px auto auto; */
	margin: 20px 60px; /* left align table */
	width: 500px;
}

.callflows-port #user-form #hotdesk_devices .action_device {
	color: #666666;
	cursor: pointer;
	text-decoration: underline;
	line-height: 30px;
}

.callflows-port #user-form #hotdesk_devices .action_device:not(:first-child) {
	margin-left: 10px;
}
.callflows-port #user-form #hotdesk_devices .action_device:hover {
	color: #05addc;
}

.callflows-port #user-form #hotdesk_devices .column:not(.third) {
	border-right: 1px solid #A6A6A6;
}

.callflows-port #user-form #hotdesk_devices .column {
	float: left;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.callflows-port #user-form #hotdesk_devices .column.first {
	width: 33% !important;
    overflow: hidden;
	text-align: center;
}

.callflows-port #user-form #hotdesk_devices .column.second {
	width: 33% !important;
}

.callflows-port #user-form #hotdesk_devices .column.third {
	width: 33% !important;
}

.callflows-port #user-form #hotdesk_devices .column.merged {
	width: 560px;
	border-right: none;
	color: #e6e6e6;
	font-size: 13px;
}

.callflows-port #user-form #hotdesk_devices .row {
	height: 30px;
	margin-left: 0px;
}

.callflows-port #user-form #hotdesk_devices .row.title {
	background-color: #dddddd !important;
	border-bottom: 2px solid #666666 !important;
	border-radius: 15px 15px 0px 0px;
	font-weight: bold;
}

.callflows-port #user-form #hotdesk_devices .column.first.title{
	text-align: center;
	text-indent: 0px;
}

.callflows-port #user-form #hotdesk_devices .row.title .icon.medium {
	display: none
}

.callflows-port #user-form #hotdesk_devices .row:not(:last-child) {
	border-bottom: 1px solid #A6A6A6;
}

.callflows-port #user-form #hotdesk_devices .row:last-child {
	border-radius: 0px 0px 15px 15px;
}

.callflows-port #user-form #hotdesk_devices .row:nth-child(odd) {
	background-color: #eeeeee;
}

.callflows-port #user-form #hotdesk_devices .row:nth-child(even) {
	background-color: #dddddd;
}

#hot_desking .text {
	color: #e6e6e6;
	font-size: 13px;
}

#call_forward_direct_calls_only {
	margin-bottom: 20px;
}

.callflows-port #user-form .edit_reset_user_callflow {
	margin-left:20px;
	display:inline;
}

.callflows-port #user-form .edit_reset_user_callflow .monster-button {
	margin-right: 10px;;
}