/* google font file */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(../style/MaterialSymbolsOutlined.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
}

/* callflow toolbox search */
#ws_cf_tools .material-symbols-icon-search-small {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    margin: 8px 0 0 8px;
}

/* callflow header search */
.entity-header .material-symbols-icon-search-small,
.left-bar-container .material-symbols-icon-search-small {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    margin: 4px 0 0 6px;
}

/* callflow root edit icon */
.material-symbols-icon-callflow-edit {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

/* callflow node delete icon */
.material-symbols-icon-number-delete {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    position: absolute;    
    top: 0px;
    right: 0px;
    cursor: pointer;
}

/* list data delete icon */
.material-symbols-icon-delete {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

/* blocklist delete icon */
.material-symbols-icon-groups-delete {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}

/* callflow node delete icon */
.material-symbols-icon-node-delete {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    position: absolute;    
    top: 0px;
    right: 0px;
    cursor: pointer;
}

/* medium icon size */
.material-symbols-medium {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}

/* medium icon size - used for toolbox */
.material-symbols-icon-small {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-top: 6px;
}

/* medium icon size - used for callflow */
.material-symbols-icon-medium {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 38px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* callflow designer arrow */
.material-symbols-callflow-arrow {
    font-family: 'Material Symbols Outlined';
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    transform: rotate(180deg);
    color: #666666;
}

/* callflow designer arrow */
.material-symbols-callflow-arrow-small {
    font-family: 'Material Symbols Outlined';
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    transform: rotate(180deg);
    color: #666666;
    padding-bottom: 1px;
}

/* callflow designer line */
.material-symbols-callflow-line {
    background-image: none !important;
    height: 4px !important;      
    background-color: #666666;
    margin-top: -48px !important;
}

/* callflow root edit icon */
/*
.material-symbols-user-state {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
*/

/* user features */
.material-symbols-user-state {
    font-family: 'Material Symbols Outlined';
    font-size: 14px;
    vertical-align: middle;
    margin-left: 4px;
}

.material-symbols-user-state.icon-do-not-disturb {
    color: #ff3d24;
}

.material-symbols-user-state.icon-voicemail {
    color: #33db24;
}

.material-symbols-user-state.icon-find-me-follow-me {
    color: #d2e;
}

.material-symbols-user-state.icon-forward {
    color: #fc3;
}

.material-symbols-user-state.icon-caller-id {
    color: #2297ff;
}

.material-symbols-user-state.icon-hotdesk {
    color: #f8a506;
}

.material-symbols-user-state.icon-numbers {
    color: #ff7a22;
}

.selected-element .material-symbols-user-state  {
    color: #ffffff;
}