#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-toggler {
    padding: 32px 0 20px 20px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-toggler span {
    color: #151517;
    font-weight: 600;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .monster-button {
    color: #151517;
    border-radius: 2px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .save-button {
    background: #2ed022;
    border-color: #209218;
    margin-left: 3px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div {
    color: #151517;
    padding: 20px;
    display: none;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .title {
    font-size: 18px;
    margin-bottom: 1rem;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .help-div {
    background-color: #b8deff;
    display: flex;
    padding: 16px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .help-div .help-icon {
    margin-right: 12px;
    position: relative;
    bottom: 2px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .year-config {
    margin: 16px 0;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .year-config select {
    height: 36px;
    width: 140px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .actions-wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .actions-wrapper button .svg-icon {
    margin-right: 6px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table {
    position: relative;
    color: #2e2e32;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-filtering {
    position: absolute;
    top: -52px;
    right: 0;
    margin: 0;
    z-index: 10;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-filtering .input-group {
    width: 256px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-filtering .input-group .form-control {
    width: 192px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-filtering .input-group input[type=text] {
    height: 22px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-filtering .input-group .input-group-btn .btn-primary {
    background-color: #ffffff;
    color: #909099;
    border-left: unset;
    height: 36px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-filtering .input-group .input-group-btn .btn-primary .fooicon {
    font-size: 16px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-header {
    background-color: #dbdbde;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-header th {
    font-size: 12px;
    font-weight: 600;
    color: #2e2e32;
    border-color: #bcbcc2;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table tbody tr {
    height: 44px;
    border: 1px #bcbcc2;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table tbody tr svg {
    color: #64646c;
    padding: 0 10px;
    cursor: pointer;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table tbody tr.footable-empty {
    display: none;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table tbody tr:nth-child(even) {
    background: rgba(244,244,245,.48);
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-header th:first-child,#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table td:first-child {
    border-left: 1px solid #bcbcc2;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table .footable-header th:last-child,#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div #holidays_list_table td:last-child {
    border-right: 1px solid #bcbcc2;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .custom-footable-empty {
    color: #151517;
    display: none;
    border-radius: 2px;
    border: 1px solid #e0e0e9;
    border-top: none;
    text-align: center;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .custom-footable-empty.show {
    display: block;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .custom-footable-empty svg {
    color: #909099;
    height: 1.5rem;
    width: 1.5rem;
    cursor: default;
    margin-right: 12px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .custom-footable-empty .title-row {
    padding: 44px 0;
    display: inline-flex;
    align-items: center;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .custom-footable-empty .title-row span {
    font-size: 16px;
    font-weight: 600;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .custom-footable-empty .title-row .material-symbols-medium {
    font-size: 32px;
    margin-right: 10px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .custom-footable-empty .description-row {
    margin-bottom: 40px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .custom-footable-empty .description-row .description {
    font-size: 14px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .holidays-list .material-symbols-icon-edit.edit-holiday,
#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .holidays-list .material-symbols-icon-delete.delete-holiday {
    color: #555;
    margin-left: 20px;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .holidays-list .material-symbols-icon-edit.edit-holiday:hover,
#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .holidays-list .material-symbols-icon-delete.delete-holiday:hover {
    color: #2297FF;
}

#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .holidays-list .monster-button-secondary.add-holiday,
#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .holidays-list .monster-button-secondary.import-csv,
#callflow_container #account_settings_form #strategy_container .element-container.strategy-holidays .element-content .holidays-div .holidays-list .monster-button-secondary.include-national-holidays {
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
}

#delete_holiday_dialog.callflows-strategy .warning {
    display: flex;
    align-items: center;
    color: #ff3d24 ;
}

#delete_holiday_dialog.callflows-strategy .warning .material-symbols-outlined {
    margin-right: 10px;
    color: #ff3d24 ;
}