	{{#if user_id}}
		<div class="row row-user" id="row_user_{{ user_id }}" data-id="{{ user_id }}">
			<div class="column first">{{ user_name }}</div>
			
			{{#if miscSettings.enableDirectoryCallflowFilter}}
				<div class="column second directory-filter">
					<select disabled id="user_callflow_id" name="user_callflow_id" class="input-readonly">
						{{#select callflow_id}}
							<option value="_empty">{{ i18n.callflows.directory.deleted_callflow }}</option>
							{{#each field_data.callflows}}
								<option value="{{ id }}" data-callflow_id={{ id }}>
									&nbsp;
									{{#if name}}
										{{ name }}&nbsp;
									{{else}}
										{{#each numbers}}{{ this }}&nbsp;{{/each}}
									{{/if}}
								</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
			{{else}}
				<div class="column second">
					<select id="user_callflow_id" name="user_callflow_id">
						{{#select callflow_id}}
							<option value="_empty">-- {{ i18n.callflows.directory.empty }} --</option>
							{{#each field_data.callflows}}
								<option value="{{ id }}" data-callflow_id={{ id }}>
									&nbsp;
									{{#if name}}
										{{ name }}&nbsp;
									{{else}}
										{{#each numbers}}{{ this }}&nbsp;{{/each}}
									{{/if}}
								</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
			{{/if}}

			{{#if miscSettings.enableGoogleIcons}}
				<div class="column third">
					<a class="action_user delete material-symbols-icon-groups-delete" data-id="{{ user_id }}">clear</a>
				</div>	
			{{else}}
				<div class="column third">
					<a class="action_user delete fa fa-trash-o" data-id="{{ user_id }}"></a>
				</div>
			{{/if}}

	{{else}}
		<div class="row row-user" id="row_no_data">
			<div class="column merged">{{ i18n.callflows.directory.there_is_currently_no_user }}</div>
	{{/if}}
		<div class="clear"/>
	</div>
