<div>
	<div class="callflow-manager">
		<div class="left-bar-container">
			{{#unless miscSettings.embeddedListView}}
				<div class="search-box">
					{{#if miscSettings.enableGoogleIcons}}
						<i class="material-symbols-icon-search-small">search</i>
					{{else}}
						<i class="fa fa-search"></i>
					{{/if}}
					<input type="text" class="search-query" placeholder="{{ i18n.search }}">
				</div>
				<div class="list-add">
					<i class="fa fa-plus-circle fa-lg"></i>
					<span>{{ i18n.callflows.addCallflow }}</span>
				</div>
			{{/unless}}
			{{#if miscSettings.embeddedListView}}
				<div class="embedded-list-title">	
					<div class="entity-title">{{ i18n.entityManager.callflowsTitle }}</div>
				</div>
			{{/if}}
					
			<div class="list-container clearfix">
				<ul class="list"></ul>
			</div>
		</div>

		<div class="callflow-content listing-mode">
			<div class="entity-header">
				{{#unless miscSettings.embeddedListView}}
					<div class="entity-title">{{ i18n.entityManager.callflowsTitle }}</div>
					<button type="button" class="back-button monster-button-secondary">{{ i18n.entityManager.backButton_1 }}</button>
				{{/unless}}
				{{#if miscSettings.embeddedListView}}
					<div class="search-box">
						{{#if miscSettings.enableGoogleIcons}}
							<i class="material-symbols-icon-search-small">search</i>
						{{else}}
							<i class="fa fa-search"></i>
						{{/if}}
						<input type="text" class="search-query" placeholder="{{ i18n.search }}">
					</div>

					<div class="embedded-buttons">
						<button type="button" class="monster-button monster-button-secondary non-fixed list-add">
							{{#if miscSettings.enableGoogleIcons}}
								<span class="material-symbols-medium">add</span>
							{{else}}
								{{telicon "plus"}}
							{{/if}}
							<span class="button-label">{{ i18n.callflows.addCallflow }}</span>
						</button>
						<button type="button" class="monster-button monster-button-secondary non-fixed back-button">{{ i18n.entityManager.backButton_2 }}</button>
					</div>
				{{/if}}

				{{#if miscSettings.callflowButtonsWithinHeader}}
					<div class="buttons"></div>
				{{/if}}
				{{#if canToggleCallflows}}
					<div class="superadmin-mode">
						<span class="switch-title">
							<i class="help-popover fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.entityManager.showSystemCallflows.help }}"></i>
							{{ i18n.entityManager.showSystemCallflows.title }}
						</span>
						{{#monsterSwitch}}
							<input type="checkbox" id="switch_role" {{#if hasAllCallflows}} checked{{/if}} />
						{{/monsterSwitch}}
					</div>
				{{/if}}
			</div>

			<div class="callflow-view clearfix">
				<div class="real-content">

					{{#unless miscSettings.hideCallflowHelp}}
						<div class="callflow-help"></div>
					{{/unless}}

					<div id="ws_callflow" class="clearfix">

						{{#unless miscSettings.callflowButtonsWithinHeader}}
							<div class="button-bar">
									<div class="buttons"></div>
							</div>
						{{/unless}}

						<div id="pending_change">
							<span>{{ i18n.oldCallflows.you_have_modified_this_callflow_basic }}</span>
						</div>
						
						<div class="callflow-zoom">
							{{#if miscSettings.enableGoogleIcons}}
								<div class="google-icons">
									<button type="button" class="monster-button monster-button-secondary non-fixed reset-view-button">
										<span class="material-symbols-medium">zoom_out_map</span>
									</button>
									<button type="button" class="monster-button monster-button-secondary non-fixed zoom-in-button">
										<span class="material-symbols-medium">zoom_in</span>
									</button>
									<button type="button" class="monster-button monster-button-secondary non-fixed zoom-out-button">
										<span class="material-symbols-medium">zoom_out</span>
									</button>
								</div>
							{{else}}
								<div class="fa-icons">
									<button type="button" class="monster-button monster-button-secondary non-fixed reset-view-button">
										<span class="fa fa-arrows-alt"></span>
									</button>
									<button type="button" class="monster-button monster-button-secondary non-fixed zoom-in-button">
										<span class="fa fa-search-plus"></span>
									</button>
									<button type="button" class="monster-button monster-button-secondary non-fixed zoom-out-button">
										<span class="fa fa-search-minus"></span>
									</button>
								</div>
							{{/if}}
						</div>

						<div class="tools">
							<div id="ws_cf_tools"></div>
						</div>

						<div class="flowchart">
							<div id="hidden_callflow_warning">{{ i18n.callflows.hiddenCallflowWarning }}</div>
							<div class="callflow">
								<div>
									<span class="flow">
										<div id="ws_cf_wrapper">
											<div id="ws_cf_flow"></div>
										</div>
									</span>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


