<div>
	<div class="title">{{ i18n.oldCallflows.actions }}</div>
	<div class="search-bar">
		<div class="search-box">
			{{#if miscSettings.enableGoogleIcons}}
				<i class="material-symbols-icon-search-small">search</i>
			{{else}}
				<i class="fa fa-search"></i>
			{{/if}}
			<input type="text" class="search-query" placeholder="{{ i18n.search }}">
		</div>
	</div>
	{{#if miscSettings.enableGoogleIcons}}
		{{#each categories}}
			<div id="{{key}}" name="{{key}}" class="category inactive">
				<div class="open">{{key}}</div>
				<div class="content">
					{{#each actions}}
						<div class="tool" help="{{tip}}" data-name="{{name}}">
							<div name="{{key}}" class="action">
								<div class="material-symbols-icon-small">{{google_icon}}</div>
								<div class="tool_name">{{{name}}}</div>
							</div>
						</div>
					{{/each}}
					<div class="clear"></div>
					<div class="app_list_nav"></div>
				</div>
			</div>
		{{/each}}
	{{else}}
		{{#each categories}}
			<div id="{{key}}" name="{{key}}" class="category inactive">
				<div class="open">{{key}}</div>
				<div class="content">
					{{#each actions}}
						<div class="tool" help="{{tip}}" data-name="{{name}}">
							<div name="{{key}}" class="action">
								<div class="icon medium app_sm {{icon}}"></div>
								<div class="tool_name">{{{name}}}</div>
							</div>
						</div>
					{{/each}}
					<div class="clear"></div>
					<div class="app_list_nav"></div>
				</div>
			</div>
		{{/each}}
	{{/if}}
	<div class="callflow_helpbox_wrapper">
		<!--
		<div id="help_box" class="tip_box">
			Drag this items to the left
		</div>
		-->
	</div>
</div>
