/* Resolved: $border-color = $french-gray2 = #bcbcc2 */

form {
  margin: 0px;
}

/* ===== Custom hours toggler ===== */

.custom-hours-toggler {
  padding: 20px;
}

.custom-hours-toggler .title {
  line-height: 30px;
}

.custom-hours-toggler .title span {
  font-size: 14px;
}

.custom-hours-toggler .title input:checked ~ span {
  font-weight: 600;
}

.custom-hours-toggler .title > input {
  margin: 0 16px 4px 0;
}

.custom-hours-toggler > label:first-of-type {
  margin-bottom: 20px;
}

.custom-hours-toggler .description {
  margin: 5px 0 0 20px;
}

/* ===== Custom hours container ===== */

.custom-hours-div {
  padding: 20px;
  display: none;
}

.custom-hours-div .custom-hours-header {
  font-size: 18px;
  padding: 0 0 15px;
}

.custom-hours-div .custom-hours-header .timezone {
  margin-left: 5px;
}

/* ===== Custom hours wrapper ===== */

.custom-hours-wrapper {
  margin-top: 1.5rem;
}

.custom-hours-wrapper .actions-wrapper {
  display: flex;
  justify-content: space-between;
}

.custom-hours-wrapper .actions-wrapper button:not(:first-child) {
  margin-left: 1rem;
}

.custom-hours-wrapper .monster-button-svg {
  display: flex;
  align-items: center;
}

.custom-hours-wrapper .monster-button-svg span {
  margin-left: 0.5rem;
}

/* ===== Office hours ===== */

.custom-hours-wrapper .office-hours-wrapper {
  margin-top: 1rem;
}

.custom-hours-wrapper .office-hours-wrapper .office-hours-nav {
  list-style: none;
  margin: 0;
  display: flex;
  border: 1px solid #bcbcc2;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  background-color: #f4f4f5;
}

.custom-hours-wrapper .office-hours-wrapper .office-hours-nav .nav-item {
  padding: 1rem;
  border-right: 1px solid #bcbcc2;
  border-bottom: 1px solid #bcbcc2;
  position: relative;
}

.custom-hours-wrapper .office-hours-wrapper .office-hours-nav .nav-item.active {
  background-color: #FFFFFF;
  color: #2297FF;
  border-bottom: 0;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-nav
  .nav-item.active::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #2297FF;
}

.custom-hours-wrapper .office-hours-wrapper .office-hours-nav .nav-item.disabled {
  background-color: #bcbcc2;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-nav
  .nav-item:hover:not(.active):not(.disabled) {
  cursor: pointer;
  background-color: #e0e0e9;
}

.custom-hours-wrapper .office-hours-wrapper .office-hours-nav .nav-item-filler {
  max-width: 100%;
  height: 52px;
  flex: 1 1 auto;
  border-bottom: 1px solid #bcbcc2;
}

/* Content panel */
.custom-hours-wrapper .office-hours-wrapper .office-hours-content {
  border: 1px solid #bcbcc2;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0 0 2px 2px;
}

/* Empty state */
.custom-hours-wrapper .office-hours-wrapper .office-hours-content .empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
  border-bottom: 1px solid #bcbcc2;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .empty-state
  .title {
  display: flex;
  align-items: center;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .empty-state
  .title
  .svg-icon {
  color: #909099;
  margin-right: 12px;
  width: 1.5rem;
  height: 1.5rem;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .empty-state
  .title
  .text {
  font-size: 1rem;
  font-weight: 600;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .empty-state
  .content {
  display: flex;
  flex-direction: column;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .empty-state
  .content
  .info-text {
  padding: 2.5rem 0 1rem;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .empty-state
  .content
  select {
  width: 100%;
  margin: 0;
  height: 2rem;
  border-radius: 2px;
}

/* Office hours rows */
.custom-hours-wrapper .office-hours-wrapper .office-hours-content .office-hours {
  display: flex;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #bcbcc2;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  select {
  margin: 0;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .day {
  font-size: 12px;
  font-weight: 600;
  width: 100px;
  line-height: 38px;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .intervals {
  list-style: none;
  margin: 0;
  flex-grow: 1;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .intervals
  .interval {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .intervals
  .interval:not(:first-child) {
  margin-top: 1rem;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .intervals
  .interval
  select {
  height: 2rem;
  border-radius: 2px;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .intervals
  .interval
  .hours {
  display: flex;
  align-items: center;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .intervals
  .interval
  .hours
  input {
  height: 2rem;
  border-radius: 2px;
  border: 1px solid #c0c0ca;
  max-width: 88px;
  padding-left: 6px;
  padding-right: 6px;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .intervals
  .interval
  .hours
  .separator {
  margin: 0 1rem;
}

.custom-hours-wrapper
  .office-hours-wrapper
  .office-hours-content
  .office-hours
  .intervals
  .interval
  .ui-timepicker-select {
  max-width: 88px;
}