<li class="callback-entry number-wrapper" data-number="{{ number }}" data-interval="{{ interval }}" data-attempts="{{ attempts }}">
	<span class="drag-handle">☰</span>
	<span class="number">{{ number }}</span>
	<span class="interval">{{ interval }}s</span>
	<span class="attempts">{{ attempts }}</span>
	{{#if miscSettings.enableGoogleIcons}}
		<a class="delete-callback material-symbols-icon-delete" href="javascript:void(0);">clear</a>
	{{else}}
		<a class="delete-callback icon medium trash" href="javascript:void(0);"></a>
	{{/if}}
</li>
