<div class="strategy-numbers-wrapper">
	{{#each numbers}}
		<div class="number-element" data-phoneNumber="{{number.id}}">
			<div class="number">
				<button type="button" class="monster-button monster-button-danger remove-number" data-number="{{number.id}}" data-e911="{{#ifInArray 'e911' number.features}}active{{/ifInArray}}">
					{{ @root.i18n.unassign }}
				</button>
				<span>{{formatPhoneNumber number.id}}</span>
			</div>
			<div class="features-block pull-right">
				<div class="edit-features"></div>
				<div class="features">
					{{#numberFeatures number.features}}{{/numberFeatures}}
				</div>
			</div>
		</div>
	{{else}}
		<div class="number-element">
			<div class="no-number-error">{{ i18n.strategy.noNumberMessage }}</div>
		</div>
	{{/each}}

	<div class="number-actions">
		<div class="action-links nav-bar clearfix">
			<button type="button" class="monster-button-secondary spare-link {{#unless spareLinkEnabled}} disabled{{/unless}}">
				<span>
					{{i18n.strategy.numberLinks.spare}}
				</span>
			</button>
			{{#unless @root.hideBuyNumbers}}
				<ul class="nav pull-left monster-select-dropdown-full">
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">
							{{ i18n.strategy.numberLinks.buy.link }}
							<i class="icon-telicon-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="javascript:void(0);" class="buy-link" data-type="regular">
									<i class="fa fa-phone"></i>
									{{ i18n.strategy.numberLinks.buy.regular }}
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" class="buy-link" data-type="tollfree">
									<i class="icon-telicon-prioritize"></i>
									{{ i18n.strategy.numberLinks.buy.tollfree }}
								</a>
							</li>
						</ul>
					</li>
				</ul>
			{{/unless}}
		</div>
	</div>
</div>
