<form id="form_national_holidays" class="form callflows-strategy">
	<div class="form-content">
		<div class="control-group">
			<label class="control-label">
				{{i18n.strategy.holidays.importNationalOfficeHolidays.labels.selectYourCountry}}
			</label>
			<div class="countries-wrapper">
				<select class="countries" name="countries">
				{{#select selectedCountry}}
					{{#each allCountries as |label|}}
						<option value="{{@key}}">
							{{label}}
						</option>
					{{/each}}
				{{/select}}
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">
				{{i18n.strategy.holidays.importNationalOfficeHolidays.labels.description}}
			</label>
		</div>
		<div class="control-group">
			<div class="include-holidays-list"></div>
		</div>
	</div>
	<div class="form-actions">
		<a class="monster-link blue cancel" href="javascript:void(0);">{{ i18n.cancel }}</a>
		<button type="submit" class="monster-button-success monster-button-fit">
			{{i18n.strategy.holidays.importNationalOfficeHolidays.labels.selectHolidays}}
		</button>
	</div>
</form>
