<tr class="holiday-row" data-type="{{holidayType}}" data-id="{{holidayData.id}}" data-key="{{key}}">
	<td class="name-cell">
		{{holidayData.name}}
	</td>
	<td class="date-cell" data-sort-value="{{timestamp}}" data-type="number">
		{{dateToDisplay}}
	</td>
	<td class="action-cell">
	{{#if isEditable}}
		{{#if miscSettings.enableGoogleIcons}}
			<a class="material-symbols-icon-edit edit-holiday">edit</a>
		{{else}}
			<span class="edit-holiday">{{telicon "edit"}}</span>
		{{/if}}
	{{/if}}
		{{#if miscSettings.enableGoogleIcons}}
			<a class="material-symbols-icon-delete delete-holiday">clear</a>
		{{else}}
			<span class="delete-holiday">{{telicon "trash"}}</span>
		{{/if}}
	</td>
</tr>
