#strategy_main_faxbox.callflows-strategy .content { 
    border-top: 0px;
}

#strategy_main_faxbox.callflows-strategy .content .form-horizontal {
    margin-bottom: 10px;
}

#strategy_main_faxbox.callflows-strategy .actions {
    padding: 19px 20px 20px;
    border-top: 1px solid #dbdbde;
}
