#form_add_edit_office_holidays.callflows-strategy,
#form_national_holidays.callflows-strategy {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: inherit;
    width: 598px;
}

#form_add_edit_office_holidays.callflows-strategy .form-control,
#form_add_edit_office_holidays.callflows-strategy select,
#form_national_holidays.callflows-strategy .form-control,
#form_national_holidays.callflows-strategy select {
    width: 100%;
    height: 36px;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0;
}

#form_add_edit_office_holidays.callflows-strategy .form-content,
#form_national_holidays.callflows-strategy .form-content {
    overflow-y: auto;
    padding: 1.5rem 1rem;
    color: #151517;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-label,
#form_national_holidays.callflows-strategy .form-content .control-label {
    margin-bottom: 4px;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group,
#form_national_holidays.callflows-strategy .form-content .control-group {
    margin-bottom: 1.5rem;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group:last-child,
#form_national_holidays.callflows-strategy .form-content .control-group:last-child {
    margin-bottom: 0;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group #recurring:disabled+i,
#form_national_holidays.callflows-strategy .form-content .control-group #recurring:disabled+i {
    cursor: not-allowed;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid,
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid {
    align-items: center;
    display: none;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid select:not(:last-child),
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid select:not(:last-child) {
    margin-right: 12px;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid .separator,
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid .separator {
    margin-right: 1rem;
    flex-shrink: 0;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid.date-range .date,
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid.date-range .date {
    width: 60px;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid.selected,
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid.selected {
    display: flex
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid .select-year,
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid .select-year {
    width: 50%;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid .day.from,
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid .day.from {
    margin-right: 2rem;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid .controls,
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid .controls {
    width: 30%;
    margin: 0 12px 0 0;
    height: 36px;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .control-group .row-fluid .controls input,
#form_national_holidays.callflows-strategy .form-content .control-group .row-fluid .controls input {
    width: 90%;
    margin: unset;
    height: 25px;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .optional-time,
#form_add_edit_office_holidays.callflows-strategy .form-content .optional-year,
#form_national_holidays.callflows-strategy .form-content .optional-time,
#form_national_holidays.callflows-strategy .form-content .optional-year {
    display: none;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .optional-time.show,
#form_add_edit_office_holidays.callflows-strategy .form-content .optional-year.show,
#form_national_holidays.callflows-strategy .form-content .optional-time.show,
#form_national_holidays.callflows-strategy .form-content .optional-year.show {
    display: block;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .optional-time .row-fluid,
#form_add_edit_office_holidays.callflows-strategy .form-content .optional-year .row-fluid,
#form_national_holidays.callflows-strategy .form-content .optional-time .row-fluid,
#form_national_holidays.callflows-strategy .form-content .optional-year .row-fluid {
    display: flex;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .monster-checkbox span,
#form_national_holidays.callflows-strategy .form-content .monster-checkbox span {
    font-weight: 600;
}

#form_add_edit_office_holidays.callflows-strategy .form-content .duplicate-name-error,
#form_add_edit_office_holidays.callflows-strategy .form-content .maximum-name-error,
#form_add_edit_office_holidays.callflows-strategy .form-content .minimum-name-error,
#form_add_edit_office_holidays.callflows-strategy .form-content .no-name-error,
#form_national_holidays.callflows-strategy .form-content .duplicate-name-error,
#form_national_holidays.callflows-strategy .form-content .maximum-name-error,
#form_national_holidays.callflows-strategy .form-content .minimum-name-error,
#form_national_holidays.callflows-strategy .form-content .no-name-error {
    display: none;
}

#form_add_edit_office_holidays.callflows-strategy .form-actions,
#form_national_holidays.callflows-strategy .form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    background-color: transparent;
    border-top-color: #dbdbde;
}

#form_add_edit_office_holidays.callflows-strategy .form-actions button,
#form_national_holidays.callflows-strategy .form-actions button {
    color: #151517;
}

#form_add_edit_office_holidays.callflows-strategy .form-actions>:not(:last-child),
#form_national_holidays.callflows-strategy .form-actions>:not(:last-child) {
    margin-right: .75rem;
}

#form_add_edit_office_holidays.callflows-strategy .include-holidays-list.callflows-strategy,
#form_national_holidays.callflows-strategy .include-holidays-list.callflows-strategy {
    max-height: 350px;
    overflow-y: scroll;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table,
#form_national_holidays.callflows-strategy #include_holidays_table {
    display: block;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table thead,
#form_national_holidays.callflows-strategy #include_holidays_table thead {
    display: block;
}

#form_national_holidays.callflows-strategy #include_holidays_table thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table thead tr,
#form_national_holidays.callflows-strategy #include_holidays_table thead tr {
    background-color: #dbdbde;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table thead tr th,
#form_national_holidays.callflows-strategy #include_holidays_table thead tr th {
    height: 40px;
    font-size: 12px;
    color: #2e2e32;
    font-weight: 600;
    border-color: #bcbcc2;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table.monster-table .footable-header th:last-child,
#form_national_holidays.callflows-strategy #include_holidays_table.monster-table .footable-header th:last-child,
#form_add_edit_office_holidays.callflows-strategy #include_holidays_table.monster-table tbody tr td:last-child,
#form_national_holidays.callflows-strategy #include_holidays_table.monster-table tbody tr td:last-child {
    padding-right: 32px;
    border-left: 0px;
    border-top: 0px;
    border-radius: 0px;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table.monster-table tbody tr.row:last-child td,
#form_national_holidays.callflows-strategy #include_holidays_table.monster-table tbody tr.row:last-child td {
    border-bottom: 0px;
}

#form_add_edit_office_holidays.callflows-strategy .include-holidays-list.callflows-strategy,
#form_national_holidays.callflows-strategy .include-holidays-list.callflows-strategy {
    border: 1px solid #bcbcc2;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table tbody tr,
#form_national_holidays.callflows-strategy #include_holidays_table tbody tr {
    height: 44px;
    border: 1px solid #bcbcc2;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table tbody tr td span,
#form_national_holidays.callflows-strategy #include_holidays_table tbody tr td span {
    margin-left: 1rem;
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table tbody tr:nth-child(even),
#form_national_holidays.callflows-strategy #include_holidays_table tbody tr:nth-child(even) {
    background: rgba(244,244,245,.48);
}

#form_add_edit_office_holidays.callflows-strategy #include_holidays_table td,
#form_add_edit_office_holidays.callflows-strategy #include_holidays_table th,
#form_national_holidays.callflows-strategy #include_holidays_table td,
#form_national_holidays.callflows-strategy #include_holidays_table th {
    border-left: 1px solid #bcbcc2;
    border-right: 1px solid #bcbcc2;
    padding-left: 16px;
    text-align: left;
    width: 500px;
    max-width: 500px;
}