<div id="ring_group_popup" class="dialog_popup callflows-port callflow-action-group">
	<div class="form_content">
		
		<div class="group-settings">
            <table>
                <tr class="popup_field">
                    <td><label>{{ i18n.oldCallflows.name_this_ring_group }}</label></td>
                    <td><input id="name" type="text" value="{{form.name}}"/></td>
                    <td class="end_column"></td>
                </tr>
                <tr class="popup_field">
                    <td><label>{{ i18n.oldCallflows.ring_strategy }}</label></td>
                    <td>
                        <select id="strategy">
                            {{#select form.strategy.selected}}
                                {{#each form.strategy.items}}
                                    <option value="{{ this.id }}">{{ this.name }}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td class="end_column"></td>
                </tr>
                <tr class="popup_field">
                    <td><label>{{ i18n.oldCallflows.ringback }}</label></td>
                    <td>
                        <select id="ringback">
                            {{#select form.ringback.selected}}
                                {{#each form.ringback.items}}
                                    <option class="{{ this.class }}" value="{{ this.id }}">{{ this.name }}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td class="end_column">
                        <a href="#" class="media_action" data-action="edit">Edit</a>
                        <a href="#" class="media_action" data-action="create">Create</a>
                    </td>
                </tr>
                <tr class="popup_field">
                    <td><label>{{ i18n.oldCallflows.numberOfTries }}</label></td>
                    <td><input class="input-mini" id="repeats" type="number" value="{{form.repeats}}"/></td>
                    <td class="end_column"></td>
                </tr>
            </table>
        </div>
	</div>

	<div id="two_columns" class="ring-group-list">
		<div class="wrapper">
			<div class="dropdown-container">
				<label for="settings-dropdown">{{ i18n.oldCallflows.select_setting }}</label>
				<select id="settings-dropdown">
					{{#if miscSettings.filterRingGroupLists}}
						<option value="personal_ring_groups_pane">{{ i18n.callflows.ring_groups.personal_ring_groups }}</option>
						<option value="groups_pane">{{ i18n.callflows.ring_groups.groups }}</option>
						<option value="phone_only_devices_pane">{{ i18n.callflows.ring_groups.phone_only_devices }}</option>
						<option value="users_pane">{{ i18n.callflows.ring_groups.users }}</option>
						<option value="devices_pane">{{ i18n.callflows.ring_groups.devices }}</option>
					{{/if}}
					{{#unless miscSettings.filterRingGroupLists}}
						<option value="users_pane">{{ i18n.callflows.ring_groups.users }}</option>
						<option value="devices_pane">{{ i18n.callflows.ring_groups.devices }}</option>
						<option value="groups_pane">{{ i18n.callflows.ring_groups.groups }}</option>
					{{/unless}}
					
				</select>
			</div>

			<div class="clear"></div>

			<div class="panes">
				<div class="pane_content" id="devices_pane">
					<div class="column left">
						<div class="search_box title_column">
							<div class="searchsubmit1"></div>
							<input class="search searchfield" type="text" placeholder="{{ i18n.oldCallflows.device_name }}"/>
							<div class="searchsubmit2"></div>
							<div class="clear"></div>
						</div>
						<div class="scrollable device">
							<ul class="connect left"></ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="pane_content" id="phone_only_devices_pane" style="display:none;">
					<div class="column left">
						<div class="search_box title_column">
							<div class="searchsubmit1"></div>
							<input class="search searchfield" type="text" placeholder="{{ i18n.oldCallflows.device_name }}"/>
							<div class="searchsubmit2"></div>
							<div class="clear"></div>
						</div>
						<div class="scrollable device">
							<ul class="connect left"></ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="pane_content" id="users_pane" style="display:none;">
					<div class="column left">
						<div class="search_box title_column">
							<div class="searchsubmit1"></div>
							<input class="search searchfield" type="text" placeholder="{{ i18n.oldCallflows.user_name }}"/>
							<div class="searchsubmit2"></div>
							<div class="clear"></div>
						</div>
						<div class="scrollable user">
							<ul class="connect left"></ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="pane_content" id="groups_pane" style="display:none;">
					<div class="column left">
						<div class="search_box title_column">
							<div class="searchsubmit1"></div>
							<input class="search searchfield" type="text" placeholder="{{ i18n.oldCallflows.group_name }}"/>
							<div class="searchsubmit2"></div>
							<div class="clear"></div>
						</div>
						<div class="scrollable group">
							<ul class="connect left"></ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="pane_content" id="personal_ring_groups_pane" style="display:none;">
					<div class="column left">
						<div class="search_box title_column">
							<div class="searchsubmit1"></div>
							<input class="search searchfield" type="text" placeholder="{{ i18n.oldCallflows.group_name }}"/>
							<div class="searchsubmit2"></div>
							<div class="clear"></div>
						</div>
						<div class="scrollable group">
							<ul class="connect left"></ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>

			<div class="column right">
				<div class="title_column">
					<div class="title">{{ i18n.oldCallflows.ring_group }} - {{form.name}}</div>
					<div class="options">
						<span class="delay_title"{{#compare form.strategy.selected "==" "single"}} style="display: none;"{{/compare}}>&nbsp;{{ i18n.oldCallflows.delays }}&nbsp;</span>
						<span>&nbsp;&nbsp;{{ i18n.oldCallflows.timeouts }}</span>
					</div>
					<div class="actions_item">{{ i18n.oldCallflows.delete }}</div>
				</div>
				<div class="scrollable">
					<ul class="connect right"></ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>


	<div class="buttons-center">
		<button class="monster-button monster-button-primary" id="save_ring_group">{{ i18n.save }}</button>
	</div>
</div>
